/*
 * Grid
 *
 */

/*
 * Fonts
 *
 */

//  https://fonts.google.com/

$font-main: Arial, sans-serif;
$font-second: Arial, sans-serif;

/*
 * Color
 *
 */

$color-white: #ffffff;
$color-black: #000000;
$color-header: #222222;
$color-brend: #f69679;
$color-secondary: #ff3939;
$color-grey: #999999;
$color-grey-black: #4e4e4e;
$color-grey-light: #fafafa;
$color-light: #f9ece4;

$color-h1: $color-header;
$color-h2: $color-header;
$color-h3: $color-grey-black;
$color-lead: $color-grey-black;
$color-text: $color-grey;
$color-text-grey: $color-grey-black;
$color-link: $color-brend;

$color-bg: $color-grey-black;
$color-bg-2: $color-grey-light;
$color-bg-3: $color-light;
$color-border: $color-bg;
$color-border-2: $color-grey-light;
$color-border-3: $color-grey;
