mixin title-one(data)
	table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
		tr
			<!-- ID:TXT TITLE -->
			td.h2(align=data.alignment)!=data.title
		tr
			+td-margin({height: data.margin_title})
		tr
			td(align=data.alignment valign="top" width=data.img_width height=data.img_height style="line-height: " + data.img_height + "px; font-size: 0;")
				+img({img_sm: data.img, alt: data.alt, width: data.img_width , height: data.img_height})

//- вызов 
//- +title-one({
//- 	title: '', 
//- 	alignment: '',
//- 	margin_title: '',
//- 	img: '',
//- 	alt: '',
//- 	img_width: '',
//- 	img_height: ''
//- })