<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html(lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" style="min-height: 100vh;")
	include include/head.pug
	+head('email-9')

	body(style="width: 100%; padding: 0; Margin: 0; min-height: 100vh;")
		include ../blocks-ui-components/ui-components-mixins.pug			
		include ../blocks/mixins.pug						
		<!-- BODY -->
		table(align="center" bgcolor=bg_table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-height: 100vh;")
			tr 
				td(align="center" valign="top" style="vertical-align: top;")
					table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
						tr
							+td-margin({height: mr_body })
						tr
							td(align="center")
								<!-- HEADER STARTS -->
								+header({header1: true})
								<!-- HEADER ENDS -->
						tr
							td(align="center")
								<!-- CONTENT STARTS -->
									+row({
										col: 1,
										bg_body: bg_body_2,
										body_pading_l: body_pading_l,
										body_pading_r: body_pading_r,
										body_width: body_width,
										rtl: false,
										margin_top: mr_green,
										margin_bottom: mr_green,
										content: {
											name: 'text',
											arg: [
												{
													type: 'margin',
													margin: mr_crayola
												},
												{
													type: 'text',
													class: 'text text--big text--black',
													text: 'Загрузка приложения',
													alignment: 'center'
												},
												{
													type: 'margin',
													margin: mr_blue
												},
												{
													type: 'content',
													alignment: 'center',
													name: 'img-wraper',
													arg: {
														img: 'templates-100-img-300-254-01.jpg',
														alt: 'смартфон',
														width: 300,
														height: 254
													}
												},
												{
													type: 'margin',
													margin: mr_green
												},
												{
													type: 'text',
													class: 'h1',
													text: 'Покупайте товары по телефону',
													alignment: 'center'
												},
												{
													type: 'margin',
													margin: mr_purpur
												},
												{
													type: 'text',
													class: 'lead',
													text: 'Установите наше мобильное приложение и легко управляйте своими заказами через телефон',
													alignment: 'center'
												},
												{
													type: 'margin',
													margin: mr_turquoise
												},
												{
													type: 'content',
													alignment: 'center',
													name: 'btn',
													arg: {
														link: '#',
														img: 'templates-100-btn-194-43-08.png',
														width: 194,
														height: 43
													}
												}
											]
										}
									})
								<!-- CONTENT ENDS -->
						tr
							td(align="center")
								<!-- STORES STARTS -->
								+footer({footer1: true})
								<!-- STORES ENDS -->
						tr
							+td-margin({height: mr_body })
		<!-- /BODY -->