<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html(lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
	include include/head.pug
	+head('Home')

	body()
		ul.intro-page__list
			li
				h1.intro-page__list-title Emails templates-100
				img(src="images/templates-100-logo-177-37-01.jpg" alt="logo")
			li
				a(href="email-1.html" target="_blank") email-1
			li
				a(href="email-2.html" target="_blank") email-2
			li
				a(href="email-3.html" target="_blank") email-3
			li
				a(href="email-4.html" target="_blank") email-4
			li
				a(href="email-5.html" target="_blank") email-5
			li
				a(href="email-6.html" target="_blank") email-6
			li
				a(href="email-7.html" target="_blank") email-7
			li
				a(href="email-8.html" target="_blank") email-8
			li
				a(href="email-9.html" target="_blank") email-9
			li
				a(href="email-10.html" target="_blank") email-10
			li
				a(href="email-11.html" target="_blank") email-11
			li
				a(href="email-12.html" target="_blank") email-12
			li
				a(href="email-13.html" target="_blank") email-13
			li
				a(href="email-14.html" target="_blank") email-14
			//- li
			//- 	a(href="styleguide.html" target="_blank") styleguide
