include header/header.pug
include footer/footer.pug
include social/social.pug 
include socials/socials.pug
include card-list/card-list.pug
include log-pass/log-pass.pug
include promo/promo.pug



include preheaders/preheaders.pug
include title/title.pug
include menu/menu.pug
include stores/stores.pug 
include store/store.pug
include cta/cta.pug
include cta/cta-two.pug
include brend-list/brend-list.pug
include advantage-list/advantage-list.pug
include card-gorizontal/card-gorizontal.pug
include card-gorizontal-list/card-gorizontal-list.pug
include desc-list/desc-list.pug
include table-price/table-price.pug

include top/top.pug