mixin log-pass(data)
	table.table-important(align="center" border="0" cellpadding="0" cellspacing="0")
		tr 
			td.lead(align="center" style="padding: 10px 10px;" bgcolor="fafafa" width=data.width)!=data.pass